@import '../../../../scss/variables';

.users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  grid-gap: 8px;

  &__item {
    display: flex;
    align-items: center;
    grid-gap: 8px;
  }

  &__svg {
    width: 9px;
    height: 4px;
    fill: $white;
  }

  &__name {
    color: $white;
    margin: 0;
  }

  &__img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }

  &:hover &__img {
    box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.2);
  }
}
