//colors
$white: #ffffff;
$blue: #3E65BE;
$light-blue: #7EA4E7;
$mid-blue: #5C81C2;
$dark-blue: #253F4B;
$gray: #B8B8B8;
$red: #E96880;
$dark-gray: #3D4044;
$dark-blue-sb: #223A45;
$light-gray: #959595;
